<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * *             * * * * * * * * * * * -->
<!-- * * * * * * * * * *     Contact        * * * * * * * * * * -->


<!-- Start Content Page -->
<div class="container-fluid bg-light py-5" id="container">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Contact Us</h1>
        <p>
            Proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet.
        </p>
    </div>
</div>

<!-- Start Map -->

<div id="mapid" style="width: 100%; height: 300px; position: relative; outline: none;"
    class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag" tabindex="0">
    <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(128px, 41px, 0px);">
        <div class="leaflet-pane leaflet-tile-pane">
            <div class="leaflet-layer " style="z-index: 1; opacity: 1;">
                <div class="leaflet-tile-container leaflet-zoom-animated"
                    style="z-index: 17; transform: translate3d(411px, 82px, 0px) scale(0.5);">
                    <img alt="" role="presentation"
                        src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/11/777/1158?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"
                        class="leaflet-tile"
                        style="width: 512px; height: 512px; transform: translate3d(129px, -203px, 0px); opacity: 1;"><img
                        alt="" role="presentation"
                        src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/11/778/1158?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"
                        class="leaflet-tile"
                        style="width: 512px; height: 512px; transform: translate3d(641px, -203px, 0px); opacity: 1;">
                </div>
                <div class="leaflet-tile-container leaflet-zoom-animated"
                    style="z-index: 18; transform: translate3d(274px, 54px, 0px) scale(1);">
                    <img alt="" role="presentation"
                        src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/10/388/579?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"
                        class="leaflet-tile"
                        style="width: 512px; height: 512px; transform: translate3d(-55px, -74px, 0px); opacity: 1;">
                    <img alt="" role="presentation"
                        src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/10/387/579?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"
                        class="leaflet-tile"
                        style="width: 512px; height: 512px; transform: translate3d(-567px, -74px, 0px); opacity: 1;">
                    <img alt="" role="presentation"
                        src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/10/389/579?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"
                        class="leaflet-tile"
                        style="width: 512px; height: 512px; transform: translate3d(457px, -74px, 0px); opacity: 1;">
                    <img alt="" role="presentation"
                        src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/10/388/578?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"
                        class="leaflet-tile"
                        style="width: 512px; height: 512px; transform: translate3d(-55px, -586px, 0px); opacity: 1;">
                    <img alt="" role="presentation"
                        src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/10/387/578?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"
                        class="leaflet-tile"
                        style="width: 512px; height: 512px; transform: translate3d(-567px, -586px, 0px); opacity: 1;">
                    <img alt="" role="presentation"
                        src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/10/389/578?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw"
                        class="leaflet-tile"
                        style="width: 512px; height: 512px; transform: translate3d(457px, -586px, 0px); opacity: 1;">
                </div>
            </div>
        </div>
        <div class="leaflet-pane leaflet-shadow-pane"><img
                src="https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png"
                class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
                style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(509px, 131px, 0px);">
        </div>
        <div class="leaflet-pane leaflet-overlay-pane"></div>
        <div class="leaflet-pane leaflet-marker-pane"><img
                src="https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png"
                class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0"
                style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(509px, 131px, 0px); z-index: 131;">
        </div>
        <div class="leaflet-pane leaflet-tooltip-pane"></div>
        <div class="leaflet-pane leaflet-popup-pane"></div>
        <div class="leaflet-proxy leaflet-zoom-animated"
            style="transform: translate3d(198984px, 296577px, 0px) scale(1024);"></div>
    </div>
    <div class="leaflet-control-container">
        <div class="leaflet-top leaflet-left">
            <div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#"
                    title="Zoom in" role="button" aria-label="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#"
                    title="Zoom out" role="button" aria-label="Zoom out">−</a></div>
        </div>
        <div class="leaflet-top leaflet-right"></div>
        <div class="leaflet-bottom leaflet-left"></div>
        <div class="leaflet-bottom leaflet-right">
            <div class="leaflet-control-attribution leaflet-control"><a href="https://leafletjs.com"
                    title="A JS library for interactive maps">Leaflet</a> | Zay Telmplte | Template Design by <a
                    href="https://templatemo.com/">Templatemo</a> | Map data © <a
                    href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a
                    href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a
                    href="https://www.mapbox.com/">Mapbox</a></div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
    </script>

<script>
    var mymap = L.map('mapid').setView([-23.013104, -43.394365, 13], 13);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Zay Telmplte | Template Design by <a href="https://templatemo.com/">Templatemo</a> | Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(mymap);

    L.marker([-23.013104, -43.394365, 13]).addTo(mymap)
        .bindPopup("<b>Zay</b> eCommerce Template<br />Location.").openPopup();

    mymap.scrollWheelZoom.disable();
    mymap.touchZoom.disable();
</script>
<!-- Ena Map -->

<!-- Start Contact -->
<div class="container py-5">
    <div class="row py-5">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="col-md-9 m-auto" method="post" role="form">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputname">Name</label>
                    <input type="text" formControlName="Name" class="form-control mt-1" id="name" name="name"
                        placeholder="Name">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">Email</label>
                    <input type="email" formControlName="Email" class="form-control mt-1" id="email" name="email"
                        placeholder="Email">
                </div>
            </div>
            <div class="mb-3">
                <label for="inputsubject">Subject</label>
                <input type="text" formControlName="Subject" class="form-control mt-1" id="subject" name="subject"
                    placeholder="Subject">
            </div>
            <div class="mb-3">
                <label for="inputmessage">Message</label>
                <textarea formControlName="Message" class="form-control mt-1" id="message" name="message"
                    placeholder="Message" rows="8"></textarea>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" [disabled]="! myForm.valid" class="btn btn-success btn-lg px-3">Let’s Talk</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->